div.alpha-search{
  color:blue;
  text-align:center;
}
.result-faculty {
  width:900px;
  margin:80px auto;

  ul li{
    width:80%;
    padding:15px 20px;
    box-sizing:border-box;
    border-bottom:solid 1px #cccccc;
    display:block;
    margin:0 auto;
    cursor:pointer;

      &:last-child{
        border-bottom:none;
      }

      &:nth-child(even){
        background-color:#eaeaea;
      }
  }  
}

#find {
    background-color: $primaryColor;
    height: 25px;
    margin-top: 10px;
    float: left;
    padding: 10px;
    width: calc(100% - 20px);

    #search-input {
      width: 150px;
      float: left;
      margin-right: 10px;
      margin-left:30px;
    }

    #search-icon {
      background-image: url("/images/search.png");
      background-repeat: no-repeat;
      height: 22px;
      width: 27px;
      float: left;
      background-position: 0px -44px;
      cursor: pointer;
    }

    li{
      float: left;
      padding: 0px 12px 0px 10px;
      color:#fff;
      cursor: pointer;
    }
    ul {
      list-style: outside none none;
      float: left;
      margin: 0 25px;
    }
    li a {
      text-decoration: none;
      position: relative;
      right: 10px;
    }
}
