.result-myschedule tr{
  width:100%;
  padding:10px 5px;
  box-sizing:border-box;
  border-bottom:solid 1px #cccccc;
  display:block;

  &:last-child{
    border-bottom:none;
  }

  &:nth-child(even){
    background-color:#eaeaea;
  }
}
th,td{
  margin: 0;
  text-align: center;
  border-collapse: collapse;
  min-width: 150px;
}
